@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #f0f0f0;
}

.clip{
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

@import "@radix-ui/colors/black-alpha.css";

.SwitchRoot {
  width: 80px;
  height: 29px;
  background-color: #19191B;
  border-radius: 9999px;
  position: relative;
  border: 1px solid #626161;
  /* box-shadow: 0 2px 10px #3e3c71;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */

  /* &:focus {
    box-shadow: 0 0 0 2px #3e3c71;
  } */

  &[data-state="checked"] {
    background-color: #19191B;
  }
}

.SwitchThumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #D8E9F9;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;

  &[data-state="checked"] {
    transform: translateX(52px);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
